.campo-nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.campo-nome h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.campo-nome__insert {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.campo-nome__nome {
  color: var(--primary-color);
}
